* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    background-color: #0075BA;
    padding: 25px;
}

.header .info {
    width: 250px;
    padding-right: 25px;
}

.header .info .title {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.header .avatarImg {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.header .avatarImg img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    text-align: center;
    margin-top:30px;
}

.header .info p:nth-child(3){
    text-align: center;
    color: white;
    font-size: 20px;
}

.header .info p:nth-child(4){
    text-align: center;
    color: #EEF5FB;
}

.header div a {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    word-spacing: 8px;
}

/* ---------------------------- */
.main {
    min-height: 100%;
    background-color: #EEF5FB;
    display: flex;
}

.menu-side-bar {
    width: 275px;
    margin-top: 15px;

}

.menu-side-bar-title {
    font-size: 16px;
    padding: 30px;
}

.menu-side-bar a {
    line-height: 50px;
    display: block;
    border-left: 5px solid transparent;
    padding-left: 25px;
    color: black;
}

.menu-side-bar a i {
    color: #E73918;
    width: 25px;
}

.menu-side-bar a.active {
    border-color: #E73918;
    background-color: #D8E8F5;
}

.menu-side-bar a:hover {
    border-color: #E73918;
    background-color: #D8E8F5;
}

/* --------------- */

.main-frame {
    width: calc(100% - 275px);
    border-radius: 5px;
    background-color: white;
    margin-right: 25px;
    color: #000000;
    padding: 25px;
}

.main-frame h2 {
    margin-top: 10px;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 25px;
    text-align: center;
}

.main-frame .menu {
    display: flex;
    justify-content: space-between;
}

.main-frame .menu a {
    display: inline-block;
    line-height: 76px;
    padding: 0px 65px;
    font-weight: 600;
    color: black;
    background-color: #EEF5FB;
}

.main-frame .menu a:hover,
.main-frame .menu a.active {
    background-color: #E73918;
    color: white;
}

/* ----------------------------- */

.table-frame {
    margin-top: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.responsive-table .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 600;
}

.responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.responsive-table li .col {
    overflow: hidden;
}

.responsive-table .col-1 {
    flex-basis: 10%;
}

.responsive-table .col-2 {
    flex-basis: 20%;
}

.responsive-table .col-3 {
    flex-basis: 30%;
}

.responsive-table .col-4 {
    flex-basis: 40%;
}

.userDataTable {
    margin-top: 50px;
    margin-bottom: 50px;
}

#add-product h3 {
    font-weight: bold;
    margin: 15px 0;
}

#add-product form > div {
    margin-bottom: 25px;
}

#add-product form > div > input{
    width: 100%;
    border: 1px solid #e6e6e6;
}

#add-product form > div > textarea#psdes{
    width: 100%;
    height: 150px;
    border: 1px solid #e6e6e6;
}

#add-product form > div > textarea#pdes{
    width: 100%;
    height: 200px;
    border: 1px solid #e6e6e6;
}

#add-product form input[type=submit] {
    margin-top: 15px;
    background-color: #E73918;
    color: white;
    border: none;
    padding: 15px 44px;
    border-radius: 11px;
}

#pop-up {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#pop-up form {
    color: black;
    background-color: white;
    padding: 30px;
    border-radius: 19px;
    min-width: 700px;
    position: relative;
}

#pop-up form i {
    position: absolute;
    right: 31px;
    top: 22px;
    font-size: 35px;
    color: red;
    cursor: pointer;
}

#pop-up form h3 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 36px;
}

#pop-up form > div > div {
    margin-bottom: 16px;
}

#pop-up form > div > div input,
#pop-up form > div > div textarea{
    width: 100%;
}

#pop-up form button {
    border: none;
    background-color: #E73918;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
}

#total-income .total-income-p {
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 40px;
    margin-top: 42px;
}